*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    background-color: antiquewhite;
    
    
}

.header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0,0.7)),url('./KE-en-20230529-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position: center;
    color: red;
   
}

.text {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;

}




.text {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
}
.texts{
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    padding: 100px;

    font-size: 2rem;


    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

nav >*{
    margin: 0 60px;
}

.xbox{
    display: flex;
    background-color: black;
    color: white;
    
}

.favorites{
    display: flex;
    background-color: black;
    color: white;
}

.shows{
    display: flex;
    background-color: black;
    color: white;
}

.profiles{
    display: flex;
    background-color: black;
    color: white;
}

    









    
    








    



