*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    background-color: antiquewhite;
    
    
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0,0.7)),url('./KE-en-20230529-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position: center;
    color: red;
}

.texts{
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    padding: 180px;


    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}














    
    








    



